@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?83vq2c');
  src:  url('fonts/icomoon.eot?83vq2c#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?83vq2c') format('truetype'),
    url('fonts/icomoon.woff?83vq2c') format('woff'),
    url('fonts/icomoon.svg?83vq2c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file_copy:before {
  content: "\e90e";
}
.icon-table_chart:before {
  content: "\e900";
}
.icon-filter_center_focus:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e910";
}
.icon-line_style:before {
  content: "\e911";
}
.icon-emoji_symbols:before {
  content: "\e912";
}
.icon-codecov:before {
  content: "\e902";
  color: #f01f7a;
}
.icon-dev-dot-to:before {
  content: "\e903";
}
.icon-digg:before {
  content: "\e904";
}
.icon-docker:before {
  content: "\e905";
  color: #1488c6;
}
.icon-drone:before {
  content: "\e906";
}
.icon-github:before {
  content: "\e907";
}
.icon-google:before {
  content: "\e908";
  color: #4285f4;
}
.icon-ionic:before {
  content: "\e909";
  color: #3880ff;
}
.icon-mega:before {
  content: "\e90a";
  color: #d9272e;
}
.icon-messenger:before {
  content: "\e90b";
  color: #00b2ff;
}
.icon-microsoftword:before {
  content: "\e90c";
  color: #2b579a;
}
.icon-mozillafirefox:before {
  content: "\e90d";
  color: #ff7139;
}
